@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Playfair', sans-serif;
}

body {
	background-color: #0f64b494;
}

.quote-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	width: 700px;
	padding: 40px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 #00000040;
}

.quote-card h1 {
	font-size: 40px;
	font-weight: 600;
	position: relative;
	margin-bottom: 2.5rem;
}

.quote-card h1::after{
	content: '';
	position: absolute;
	width: 70px;
	height: 4px;
	background: #1446bab4;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
}

.quote-card blockquote {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;
	word-break: break-all;
	/* background-color: red; */
	max-width: 100%;
	font-size: 30px;
	font-style: italic;
	font-weight: 100;
}
.quote-card blockquote::before, .quote-card blockquote::after {
	content: '"';
	font-family: 'Space Grotesk';
	font-size: 40px;
	margin-right: 1rem;
}
.quote-card blockquote::before {
	width: 10px;
	height: 10px;
	text-align: center;
	transform: rotate(180deg);
	position: absolute;
	top: 0px;
	left: 0px;
}
.quote-card blockquote::after {
	position: absolute;
	bottom: -30px;
	right: -10px;
}

.quote-card span {
	margin-top: 2rem;
	align-self: self-end;
	position: relative;
	font-size: 1.3em;
}

.quote-card span::before {
	content: ''; 
	width: 40px;
	height: 4px;
	position: absolute;
	left: -3rem;
	top: 50%;
	transform: translateY(-50%);
	background-color: #1446bab4;
	border-radius: 10px;
}

.quote-card div {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	gap: 1rem;
}

.quote-card button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
	background-color: #2977E4;
	border: 1px solid #2977E4;
	border-radius: 40px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s;
}

.quote-card button{
	background-color: transparent;
	color: #2977E4;
}
.quote-card button:hover{
	background-color: #2977E4;
	color: white;
}

button .lucide-twitter, button .lucide-quote{
	margin-right: 10px;
}

button .lucide-quote{
	scale: 0.7;
}