@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.container {
	background: no-repeat linear-gradient(135deg, #39eddb,#304bffbf);
	background: center no-repeat url('public/images/koutoubia-mosque-in-marrakesh.jpeg');
	background-size: cover;
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.sound-player {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff3c;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.311);
	backdrop-filter: blur(10px);
	width: 500px;
	border-radius: 15px;
	padding: 1.5rem;
}

#header-nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

#header-nav button {
	display: flex;
	border: 0;
	outline: 0;
	padding: 5px;
	border-radius: 50%;
	background-color: #fff;
	color: #e32ff7cb;
	box-shadow: 0 0 10px #00000047;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
} #header-nav button:hover {
	box-shadow: 0 0 10px #e32ff7cb;
}

#sound-img {
	width: 300px;
	/* border: 2px solid #2A8CFF; */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.251);
	background-color: rgba(0, 0, 0, 0.311);
	border-radius: 50%;
	padding: 1rem;
	margin: 2rem;
	transform: rotate(0deg);
	animation: rotate 10s linear infinite;
	animation-play-state: paused;
}

@keyframes rotate {
	100%{
		transform: rotate(360deg);
	}
}

#song-title {
	display: flex;
	gap: 1rem;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

#reciter {
	display: flex;
	gap: 1rem;
	font-size: 1em;
	font-weight: 300;
	margin-bottom: 1.5rem;
}

#range-control {
	-webkit-appearance: none;
	width: 80%;
	height: 10px;
	background-color: #ddd;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.284);
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.4s ease;
	position: relative;
}#range-control::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 15px;
	aspect-ratio: 1 / 1;
	border: 3px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 10px #00000054;
	background-color: #e032ff;
	transition: transform 0.2s ease;
}#range-control:hover::-webkit-slider-thumb {
	transform: scale(2);
}#range-control::before, #range-control::after {
	position: absolute;
	bottom: -1.5rem;
	color: #ee00ffd6;
	font-size: 1.2em;
	font-weight: 300;
}#range-control::before {
	content: var(--before-content);
	left: 2px;
}#range-control::after {
	content: var(--after-content);
	right: 2px;
}

#footer-nav {
	display: flex;
	margin-top: 3rem;
	margin-bottom: 2rem;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#footer-nav button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: 0;
	outline: 0;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.368);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.309);
	color: #e032ff;
	cursor: pointer;
} #footer-nav button:nth-child(2) {
	width: 100px;
	height: 100px;
} #footer-nav button:nth-child(2) .lucide {
	width: 50px;
	height: 50px;
}

